<script setup>
import { ref, reactive } from "vue";
const newUserForm = ref();

const userForm = reactive({
  username: "",
  operando_1: "",
  operando_2: "",
  operando_3: "",
});

const result = ref('');
const isShowModal = ref(false)
const setError = ref('')
const sessionStatus = ref('')
const operando1 = ref('');
const operando2 = ref('');
const operando3 = ref('');
const liteCalculator = ref(false);
const maxname = ref(25);
const max = ref(5);

function closeModal () {
  isShowModal.value = false
}


const addNewUser = async () => {
  const check = /^[A-Za-z]+$/
  operando1.value = check.test(userForm.operando_1)
  operando2.value = check.test(userForm.operando_2)
  operando3.value = check.test(userForm.operando_3)

  // Validation if exit username
  
  if (!userForm.username && !userForm.operando_1 && !userForm.operando_2 && !userForm.operando_3) {
    setError.value = 'Ingrese un usuario por favor.'
    isShowModal.value = true
  } else if(userForm.username && !userForm.operando_1 && !userForm.operando_2) {
    setError.value = 'El Operando 1 y Operando 2 son obligatorios.'
    isShowModal.value = true
  } else if(!userForm.username && userForm.operando_1 && userForm.operando_2) {
    setError.value = 'Ingrese un usuario por favor.'
    isShowModal.value = true
  } else if (userForm.username && !userForm.operando_1 && userForm.operando_2) {
    setError.value= 'El Operando 1 es obligatorio.'
    isShowModal.value = true
  } else if (userForm.username && userForm.operando_1 && !userForm.operando_2) {
    setError.value = 'El Operando 2 es obligatorio.'
    isShowModal.value = true
  } else if (userForm.username && userForm.operando_1 && userForm.operando_2) {
    setError.value = ''
    fullResult()
    getSession()
    isShowModal.value = true
  
} 
};

const fullResult = () => {
  
  if (!operando1.value && !operando2.value && !operando3.value) {
    result.value =
      parseFloat(userForm.operando_1) + parseFloat(userForm.operando_2) + parseFloat(userForm.operando_3)
  } else {
    result.value = userForm.operando_1 + userForm.operando_2 + userForm.operando_3
  }
};

const getSession = () => {
  
  if (sessionStorage.getItem(userForm.username) === result.value) {
    sessionStatus.value = sessionStorage.getItem(userForm.username)
    isShowModal.value = true
  } else {
    sessionStorage.setItem(userForm.username, result.value)
    isShowModal.value = true
  }
};

const resetForm = () => {
  isShowModal.value = false
  result.value = ''
  sessionStatus.value = ''
  Object.assign(userForm, getInitialFormData());
};
const getInitialFormData = () => ({
  username: "",
  operando_1: "",
  operando_2: "",
  operando_3: "",
});
</script>

<template>
  <main>
    <section>
      <div class="py-1 mx-auto max-w-screen-xl lg:py-16 lg:px-1">
        <div class="space-y-0 lg:grid  sm:gap-0 xl:gap-0 lg:space-y-0" :class="liteCalculator ? 'lg:grid-cols-1' : 'lg:grid-cols-2'">
          <!-- Pricing Card -->
          <div
            class="flex flex-col w-full p-6 mx-auto max-w-lg text-center text-gray-900 bg-white border border-gray-100 shadow dark:border-gray-600  animate__animated animate__fadeInLeft animate__delay-1s" :class="liteCalculator ? 'xl:p-5 xl:py-3 w-full' : 'xl:p-8'"
          >
            <div class="flex justify-center items-baseline my-0
            ">
              <span class="mr-2 text-5xl font-extrabold flex">
                <img
                  class="w-14 h-14"
                  src="https://i.ibb.co/X3nZJyy/image-2024-02-10-022039874.png"
                  alt=""
                />
                Calculator</span
              >
              <span class="text-gray-500 dark:text-gray-400">Nemon Lite v.1</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-0 mt-8 space-y-4 text-left" v-if="!liteCalculator">
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span>Configuratión Personalizada</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span>Sin gastos de instalación ni costes ocultos</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span>Soporte Premium: <span class="font-semibold">6 months</span></span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                  class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span>Actualizaciones: <span class="font-semibold">6 months</span></span>
              </li>
            </ul>
            <div :class="liteCalculator ? 'flex justify-center' : 'flex my-12'">
              <button type="button" class="text-gray-500 border rounded-none border-lime-800  focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-1.5 text-center me-2 mb-2 dark:border-gray-300" @click="liteCalculator = !liteCalculator">
           
                <svg class="w-6 h-6 text-gray-400 dark:text-gray-400 dark:hover:text-lime-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.2v.8l7 4 7-4v-.8m-14 5v.8l7 4 7-4v-1M12 3 5 7l7 4 7-4-7-4Z"/>
  </svg>
              </button>
            </div>
          </div>
          <!-- Pricing Card -->

          <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-slate-100 bg-gray-800 border border-gray-800 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white animate__animated animate__fadeInRight animate__delay-1s"
          >
            <h3 class="mb-4 text-2xl font-semibold">¿Listo para realizar una Operación?</h3>
            <p class="font-light text-slate-500 sm:text-lg dark:text-gray-400 mb-5">
              Por favor, rellena los campos solicitados a continuación.
            </p>
            <form @submit.prevent="addNewUser" ref="newUserForm">
            <div class="sm:grid gap-4 mb-4 xs:grid-cols-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3">
              <div class="col-span-3">
                <input
                  type="text"
                  name="username"
                  id="username"
                  :maxlength="maxname"
                  class="bg-gray-700 border border-gray-700 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Introduzca su nombre"
                  v-model="userForm.username"
                />
              </div>
              <div>
                <label
                  for="brand"
                  class="block mb-2 text-sm font-medium text-slate-100 dark:text-white"
                  >Operando 1</label
                >
                <input
                  type="text"
                  name="operando_1"
                  id="operando_1"
                  :maxlength="max"
                  class="bg-gray-700 border border-gray-700 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  v-model="userForm.operando_1"
                />
              </div>
              <div>
                <label
                  for="price"
                  class="block mb-2 text-sm font-medium text-slate-100 dark:text-white"
                  >Operando 2</label
                >
                <input
                  type="text"
                  name="price"
                  id="operando_2"
                  :maxlength="max"
                  class="bg-gray-700 border border-gray-700 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  v-model="userForm.operando_2"
                />
              </div>
              <div>
                <label
                  for="price"
                  class="block mb-2 text-sm font-medium text-slate-100 dark:text-white"
                  >Operando 3</label
                >
                <input
                  type="text"
                  name="operando_3"
                  id="operando_3"
                  :maxlength="max"
                  class="bg-gray-700 border border-gray-700 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  v-model="userForm.operando_3"
                  placeholder=""
                />
              </div>
              <div class="grid justify-center items-baseline col-span-3">
                <span class="mr-2 text-3xl font-extrabold">{{ result ? result : '0,00' }}</span>
                <span class="text-gray-500 dark:text-gray-400 flex" v-if="result"
                  >Guardado por <strong class="ml-1 text-lime-400">{{ userForm.username }}</strong> 
                  <svg
                    class="w-5 h-5 ml-2 text-lime-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                  </svg>
                </span>
              </div>
            </div>
         
            <div class="flex items-center space-x-4">
              <button
                type="button"
                class="w-full text-center text-white inline-flex items-center hover:text-white border bg-lime-600 border-lime-400 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm px-5 py-2.5 text-center dark:border-lime-500 dark:text-white-500 dark:hover:text-white dark:focus:ring-lime-100 text-3xl font-extrabold"
                @click="addNewUser()"
              >
                <svg
                  class="w-7 h-7 mr-2 text-white dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                Calcular
              </button>
            </div>
          </form>
          <div id="default-modal" tabindex="-1" aria-hidden="true" class="bg-dark overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" :class="isShowModal ? 'show' : 'hidden'" >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-gray-900 rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b border-b-gray-800 rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-white dark:text-white">
                   Aviso
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-800 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" @click="closeModal()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <p v-if="setError" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  <strong class="text-lime-400">{{ setError }}</strong>
                </p>
                <p v-else-if="sessionStatus" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  Usuario <strong class="text-lime-400">{{ userForm.username }}</strong> y resultado <strong class="text-lime-400">{{ sessionStatus }}</strong>  ya existe
                </p>
                <p v-else class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  <strong class="text-lime-400">Exitoso</strong>
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-t-gray-800 border-gray-200 rounded-b dark:border-gray-600 justify-between">
              
              <button data-modal-hide="default-modal" type="button" class="text-white bg-gray-700 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-lime-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-lime-600 dark:focus:ring-lime-800" @click="closeModal">Salir</button>
                <button data-modal-hide="default-modal" type="button" class="text-white bg-gray-700 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800" @click="resetForm">I Nuevo Registro</button>
            </div>
        </div>
    </div>
</div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
